@import 'common';
.Services {
    background-color: $light;
    &__tabtitle {
        font-style: normal;
        font-weight: 800;
        color: $graydark;
        white-space: nowrap;
        position: relative;
        transition: all $transition;
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: transparent;
            transition: all $transition;
        }
        &.active {
            color: $green;
            &::after {
                background-color: $green;
            }
        }
    }
    &__fly_mini {
        transform: translateY(10px);
    }
    &__li {
        font-style: normal;
        font-weight: 600;
        color: $graydark;
        display: flex;
        &::before {
            content: '';
            display: inline-block;
            min-width: 10px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 3px solid $green;
            margin-right: 17px;
            margin-top: 14px;
        }
        &+.Services__li {
            margin-top: 20px;
        }
    }
    &__info {
        min-height: 390px;
    }
}